@import url('https://fonts.googleapis.com/css?family=Hind&Open+Sans')

#header {
    background-color: #fff;
    color: #CF2CC8;
    font-family: 'Hind', sans-serif;
}

#header > p {
    font-size: 56px;
    text-align: center;
    color: #CF2CC8;
}

body {
    margin: 0;
}

.labels {
    font-size: 16px;
    fill: #555;
}

#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.myClass {
    height: 44px;
    width: 44px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

path.slice {
    stroke-width:2px;
}

polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

svg {
    transition: 0.5s;
}