<!doctype html>
<html>
<head>
    <title>Kufu</title>
    <link rel="stylesheet" type="text/css" href="/styles/stylePopUp.css"/>
    <script src="/libs/d3.js"></script>
    <script src="/libs/jquery.js"></script>
    <script src="/libs/moment.js"></script>
    <script src="/src/Kufu.js"></script>
</head>
<body>
    <div id="header">
        <h1>kufu</h1>
    </div>
    <!-- <ul id="activeTabs"></ul> -->
    <div id="graph-container"></div>
    <div id="footer">
        <a href="fullpage.html" target="null">View Full Dashboard</a>
    </div>
    <script src="/src/Kufugraph.js"></script>
    <script src="/src/popupMain.js"></script>
</body>
</html>