<!doctype html>

<html>
<head>
    <title>kufu table page</title>
     <script src="/libs/moment.js"></script>
    <script src="/src/Kufu.js"></script>
</head>
<body>

    <div id="container">
        <div id="header">
            <h1>Total Time Spent</h1>
        </div>
        <div id="tableContainer">
            <table id="table1"  style="width:50%">
                <tr>
                    <th>Website</th>
                    <th>Time in Minutes</th> 
                </tr>
            </table>
        </div>


    </div>
    <script src="/src/tableView.js"></script>
</body>